<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBT4hd65BjykEvgCSUwbcmPUwQ5ogttU_w</string>
	<key>GCM_SENDER_ID</key>
	<string>403019555868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atelier4AAittalebIir5g6.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>atelier4-a-aittaleb-iir5g6</string>
	<key>STORAGE_BUCKET</key>
	<string>atelier4-a-aittaleb-iir5g6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403019555868:ios:6b19d57f4f0378471e2bd9</string>
</dict>
</plist>